nav {
   background-color: steelblue;
   padding: 10px;
   text-align: center;
 }


main {
   max-width: 840px;
 }

aside {
   width: 200px;
   margin: 10px;
   border: 1px solid rgba(0, 0, 0, 0.2);
   padding: 1rem;
   background-color: #eee;
   color: #333;
   text-align: center;
   box-shadow: 0 0 30px gray;
   position: relative;
}

h1 h2 h3{ 
    color: steelblue;
 }

img {
   width: 150px;
   height: auto;
   border: 1px;
   padding: 2px;
   box-shadow: 0 0 30px gray;
}

p {
   margin: 10px;
   padding: 10px;
 }



footer {
   background-color: steelblue;
   padding: 0px;
   text-align: center;
   color: white;
   position: fixed;
   bottom: 0;
   width: 100%;
}
